@font-face {
  font-family: "ElegantIcons";
  src: url("../Fonts/elegant_font/HTML-CSS/fonts/ElegantIcons.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  font-family: "ElegantIcons";
  font-weight: normal;
  font-size: 20px;
  color: #edb059;
  padding: 0 10px;
}
.f:after {
  content: "\e093";
}
.t:after {
  content: "\e094";
}
.g:after {
  content: "\e096";
}
